body {
  font-family: sans-serif;
  background-color: lawngreen;
}
a {
  text-decoration: none;
}
.boton {
  font-size: 50px;
  color: blue;
}

div:hover.boton {
  opacity: 0.3;
}
on-click.red {
  color: orangered;
}
